body {
    background-color: #ff7f7f;
    font-family: 'Courier New', Courier, monospace;
}
.divpadding {
    padding-bottom: 20px;
}
hr {
    border: 1px dashed #000;
}

#inputDiv{
   justify-content: center;
}   